# Node modules and package lock
node_modules
package-lock.json

# Environment variables
.env
.env.example

# Logs
logs
*.log

# Editor and OS files
.vscode
.idea
.DS_Store
*.swp
*.swo
Thumbs.db

# Build artifacts
dist
coverage
build
